
<h1>New Planet</h1>


<%= form_with scope: :planet, url: planets_path,  local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :type %><br>
    <%= form.text_field :type %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>